# binaries
bin/*
!bin/.empty

# CMake output
CMakeLists.txt.user

# test files
*.mp3
*.flac

# test output
testing/*_MODIFIED.data

# output and temp files of Win64 release script
PMP-win64.zip
x64-windows-archive-full/
x64-windows-release-bin/
